body{
    background-color: #d1d1d1;
}

.nav-bar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 15px;
}

.searchbar{
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 5px;
}

.searchbar input{
    background-color: #d1d1d1;
    border:none;
}

.searchbar input:focus{
    border:none;
}

.loginlink{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.loginlink:hover{
    background-color: blue;
    color: white;
}

